body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eaf7f9;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

.container {
    text-align: center;
}

#circle {
    margin: 40px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(6, 229, 241, 0.96);
    transition: width 3s ease-in-out, height 3s ease-in-out;
}

#prompt {
    font-size: 2rem;
    margin-top: 20px;
    height: 40px;
}

#timer {
    font-size: 1.5rem;
    margin-top: 10px;
    color: #00796b;
}

.button {
    position: fixed;         /* Makes it fixed on the screen */
    bottom: 30px;            /* Distance from the bottom */
    right: 30px;             /* Distance from the right */
    width: 150px;
    height: 60px;
    background: white;
    color: black;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    line-height: 60px;
    font-size: 13px;
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2); 
    z-index: 999;            /* Stays above other content */
}

.button_icon {
   position: relative; /* Allows us to reposition our elements */
   float: left; /* Moves the image to the left without affecting other elements */
   width: 25px;
   height: 25px;
   left: 50px; /* Moves the image left by 50px */
   top: 15px;  /* Moves the image down by 15px to align it vertically */
}


.button:hover {
   background: lightgreen;
   color: black;
   outline: 2px solid #304a58;
}