body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eaf7f9;
    font-family: Arial, sans-serif;
    flex-direction: column;
}

.container {
    text-align: center;
}

#circle {
    margin: 40px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(6, 229, 241, 0.96);
    transition: width 3s ease-in-out, height 3s ease-in-out;
}

#prompt {
    font-size: 2rem;
    margin-top: 20px;
    height: 40px;
}

#timer {
    font-size: 1.5rem;
    margin-top: 10px;
    color: #00796b;
}