/* Import Josefin Sans from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Apply Josefin Sans to paragraphs */
p {
   font-family: "Josefin Sans", sans-serif;
}


/* Optional: apply Josefin Sans globally to body */
body {
  font-family: "Josefin Sans", sans-serif;
   background-image: url("images/Background.png");
   background-size: cover;        /* Makes the image cover the entire background */
   background-repeat: no-repeat;  /* Prevents the image from repeating */
   background-position: top;      /* Aligns the image at the top */
}

.about {
   margin-top: 60px; /* Adds spacing above the container */
   margin-bottom: 20px;
}


.name {
   text-align: center; /* Aligns text in the center */
}


.button {
   background: url("images/Cloud-Button.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   color: rgb(0, 0, 0);
   display: block;
   height: 110px;
   width: 350px;
   margin: 20px auto;
   text-decoration: none;
   text-align: center;
   font-weight: bold;
   line-height: 60px;
   font-size: 20px;
   font-family: "Josefin Sans", sans-serif;
}

.button:hover {
   background: url("images/Cloud-Hover.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}


.button_icon {
   position: relative; /* Allows us to reposition our elements */
   float: left; /* Moves the image to the left without affecting other elements */
   width: 45px;
   height: 45px;
   left: 40px; /* Moves the image left by 50px */
   top: 32px;  /* Moves the image down by 15px to align it vertically */
}

.description {
   text-align: center;
}

.button_text {
   position: relative; /* Allows us to reposition our elements */
   float: left; /* Moves the image to the left without affecting other elements */
   left: 50px; /* Moves the image left by 50px */
   top: 25px;  /* Moves the image down by 15px to align it vertically */
}


