/* Import Josefin Sans from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Apply Josefin Sans to paragraphs */
p {
   font-family: "Josefin Sans", sans-serif;
}


/* Optional: apply Josefin Sans globally to body */
body {
   font-family: "Josefin Sans", sans-serif;
   background-image: url("images/Background.jpg");
   background-size: cover;        /* Makes the image cover the entire background */
   background-repeat: no-repeat;  /* Prevents the image from repeating */
   background-position: top;      /* Aligns the image at the top */
}


.about {
   margin-top: 120px; /* Adds spacing above the container */
   margin-bottom: 40px;
}


.name {
   text-align: center; /* Aligns text in the center */
}


.button {
   background: white;
   color: rgb(0, 0, 0); /* text colour */
   display: block; /* Makes each button on its own line */
   height: 60px;
   width: 400px;
   border-radius: 20px;
   margin: 20px auto; /* Adds spacing to the button and centers it */
   text-decoration: none; /* Removes underline from hyperlink */
   text-align: center;
   font-weight: bold; /* Bolds the text */
   line-height: 60px; /* Vertically aligns the text */
   font-size: 20px;
   font-family: "Josefin Sans", sans-serif; /* Apply font to buttons */
}


.button_icon {
   position: relative; /* Allows us to reposition our elements */
   float: left; /* Moves the image to the left without affecting other elements */
   width: 25px;
   height: 25px;
   left: 50px; /* Moves the image left by 50px */
   top: 15px;  /* Moves the image down by 15px to align it vertically */
}


.button:hover {
   background: lightgreen;
   color: black;
   outline: 2px solid #304a58;
}


.description {
   text-align: center;
}



